/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font: 12px Tahoma, sans-serif;
    background: #fff;
    color: #000;
}

menu, p, a, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, legend, label, select, input, textarea, button {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
}

button {
    cursor: pointer;
    padding: 0
}

select, input, textarea, button {
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

:focus {
    outline: none;
}

input[type=submit] {
    cursor: pointer;
}

img, fieldset {
    border: 0;
}

img {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    text-align: center;
}

.header {
    padding: 2em 0;
    text-transform: uppercase;
    color: #30244e;
}

p {
    text-align: left;
}

figure {
    overflow: hidden;
    margin: 1em 0;
}

.main-header {
    overflow: hidden;
}

.logo-section {
    float: left;
    width: 130px;
    height: 50px;
}

.navigation {
    float: right;
    overflow: hidden;
}

.logo-section h1 {
    text-indent: -9999px;
}

.logo-section .logo img {
    width: 130px;
    height: 50px;
}

.navigation .navigation-list li {
    float: left;
    padding: 1.3em 1em;
    text-transform: uppercase;
}

.navigation .navigation-list li a {
    color: #000;
    transition: .3s all linear;
}

.navigation .navigation-list li a:hover {
    color: #33b6ff;
}

.main-footer {
    padding: 2em 0;
}

.main-footer p {
    text-align: center;
}
